AuthorizationServer.App/bin
AuthorizationServer.App/obj
AuthorizationServer.ClientApp/bin/
AuthorizationServer.ClientApp/obj/
AuthorizationServer.Infrastructure/bin/
AuthorizationServer.Infrastructure/obj/
AuthorizationServer.ClientApp/appsettings.Development.json
AuthorizationServer.App/appsettings.Development.json
